<h1>All Sales Vinyl</h1>

<h3>Available Records</h3>

<% if @albums.any? %>
  <ul>
    <% @albums.each do |album| %>
    <li><a href="/albums/<%= album.id %>"><%= album.name %> <%= album.year %> <%= album.genre %> <%= album.artist %></a></li>
  <% end %>
  </ul>
  <p><a href="/albums?sorted=true">Sort by alphabetically</a></p>
<% else %>
  <p>There are currently no records to display.</p>
<% end %>

<h4><a href="/albums/new">Add a new album</a></h4>


<form action="/albums/results" method="post">
  <div class="form-group">
    <label for="search">Search</label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>





 
